*{
    margin: 0%;
    padding: 0%;
} 



/* banner section  */

.banner-container{
padding: 20px 130px 0px 130px;
background: rgba(229, 84, 115, 0.10);
display: flex;
justify-content: space-between;
align-items: center;

}


    .banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;

    }
.banner-description{
    width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner-button{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 30px;
    border: none;
    margin-top: 20px;
    transition: .3s;
}
.banner-button:hover{
    background:black;
    color: white;  
}
.banner-img > img{
    width: 435px;
    height: 600px;
    


}
/* Our Featured Flowers section  */
.section-title{
    margin-top: 100px;
    margin-bottom: 10px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800px;;

}

.section-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.flower-container{
    display: flex;
    justify-content: center;
    padding: 50px 140px;
    align-items: center;
    margin-bottom: 70px;
}

.flower-item-name{
    color: #272727;
    margin-left: 10px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}

/* hot deal section   */

.hot-deal-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 130px;

}
.hot-deal-content{
    text-align: center;
}
.hot-deal-title{
    margin-bottom: 20px;
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;

}

.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
position: calc(3px);
}

/* Instagram section  */
.instagram-section{

}

.defferent-flowers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}
.defferent-flower-img{
width: 212px;
height: 246px;
margin-left: 20px;
}
/* gallery section  */

.gallery-images-box1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
}
.gallery-images-box1 .img-box{
    overflow: hidden;
    width: 299px;
    height: auto;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.gallery-images-box1 .img-box > img{
    width: 303px;
    height: auto;
    border-radius: 6px;
    transition: .5s;
}
.gallery-images-box1 .img-box > img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.gallery-images-box2{
    display: flex;
    justify-content: center;
    
   
}
.gallery-images-box2 .img-box{
    overflow: hidden;
    width: 299px;
    height: auto;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.gallery-images-box2 .img-box > img{
    width: 303px;
    height: auto;
    border-radius: 6px;
    transition: .5s;
}
.gallery-images-box2 .img-box > img:hover{
    transform: scale(1.1);
    transition: .5s;
}
/* Latest-Deals section   */

.Latest-Deals-container{
    align-items: center;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.Deals{
    width: 75%;
    height: 330px;
   
    margin-left: 20px;
}
form {
  padding-left: 160px;
}
form > input{
    padding: 10px 200px 10px 30px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    font-size: 18px;
    margin-right: 10px;
    
}

/* footer section  */
footer{
    background: #272727;
    padding: 130px 0px;
}
footer >h2{
    text-align: center;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
footer >h2 span{
    color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;  
    margin-bottom: 20px;
}

footer > p{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}